{
	"extends": ["eslint-config-airbnb"],
  "rules": {
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "one-var": "off",
    "func-names": ["error", "never"],
    "no-console": "off",
    "no-loop-func": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "no-unused-variable": "off",
    "no-unused-expressions": ["error", {"allowShortCircuit": true} ],
    "no-unused-vars": "off",
    "no-mixed-operators": "off",
    "no-else-return": "off",
    "no-restricted-properties": "off",
    "no-empty-function": "off",
  },
  "globals": {
    "window": true,
    "document": true
  },
  "parserOptions": {
    "ecmaVersion": 2016
  }
}
